@import 'modules/nulling';

body {
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    color: rgb(65, 65, 65);
    background-color: #FBF8EC;
}

.container {
    margin: 0 auto;
    max-width: 1238px;
    width: 100%;
    padding: 0 15px 0 15px;

    @media (max-width: 768px) {
        max-width: 756px;
    }

    @media (max-width: 506px) {
        padding: 0 10px 0 10px;
    }

}

@import 'modules/components/title';
@import 'modules/header';
@import 'modules/slider';
@import 'modules/stock';
@import 'modules/special-offers';
@import 'modules/our-stores';
@import 'modules/articles';
@import 'modules/footer';