header.header
    .container
        .header__wrapper
            a.header__link-img(href="index.html")
                .header__img-logo
            .header__menu
                .button__menu 
                    span Каталог
                ul.header__list
                    li.header__items
                        a.header__link-product(href='#') Молоко, сыр, яйцо
                    li.header__items
                        a.header__link-product(href='#') Хлеб
                    li.header__items
                        a.header__link-product(href='#') Фрукты и овощи
                    li.header__items
                        a.header__link-product(href='#') Напитки
                    li.header__items
                        a.header__link-product(href='#') Кондитерские изделия
                    li.header__items
                        a.header__link-product(href='#') Чай, кофе
            .header__box-search
                input.header__search(type='text' placeholder='Найти товар')
                button.button__search
            .header__box-icons
                .header__wrapper-icons
                    img.header__img-icons(src='images/header/heart.svg' alt='Логотип')
                    span.header__title Избранное
                .header__wrapper-icons
                    img.header__img-icons(src='images/header/order.svg' alt='Логотип')
                    span.header__title Заказы
                .header__wrapper-icons
                    img.header__img-icons(src='images/header/shopping-cart.svg' alt='Логотип')
                    span.header__title Корзина
            .header__box-profile
                img.header__img-ava(src='images/header/avatar.png' alt='Аватар')
                span.header__name-user Алексей
                button.button__arrow







