section.slider
    .container
        .swiper
            .swiper-wrapper
                .swiper-slide
                    img.slider__img(src='images/slider/slide-1.png')
                    span.slide__title Доставка бесплатно от 1000 ₽
                .swiper-slide
                    img.slider__img(src='images/slider/slide-1.png')
                    span.slide__title Слайд 2
                .swiper-slide
                    img.slider__img(src='images/slider/slide-1.png')
                    span.slide__title Слайд 3
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
            .swiper-scrollbar


