article.articl
    img.articl__img(src='./images/articles/articl-3.jpeg' alt='Изображение статьи')
    .articl__box
        span.articl__date 05.03.2024
        h3.articl__title ЗОЖ или ФАСТФУД. А вы на чьей стороне? Голосуем!
        p.articl__text Голосуйте за любимые категории, выбирайте категорию-победителя в мобильном приложении и получайте кешбэк 10% баллами в апреле!
        button.button__articl Подробнее
