.product
    .product__box-images
        a.product__link(href='#')
            img.product__images(src='./images/product/product-1.png' alt='Изображение продукта')
        button.product__button-favorites(type='button')
    .product__box-price
        .product__price
            span.product__price-cart 44,50 ₽
    p.product__name
        a.product__link(href='#') Г/Ц Блинчики с мясом вес, Россия
    .product__box-rating
        button.product__star.product__star_on(type='button')
        button.product__star.product__star_on(type='button')
        button.product__star.product__star_on(type='button')
        button.product__star.product__star_on(type='button')
        button.product__star(type='button')
    button.product__button-buy(type='button') В корзину