.product
    .product__box-images
        img.product__images(src='./images/product/product-1.png' alt='Изображение продукта')
        button.product__button-favorites(type='button')
        span.product__sales -50%
    .product__box-price
        .product__price
            span.product__price-cart 44,50 ₽
            span.product__title С картой
        .product__price
            span.product__price-nocart 50,50 ₽
            span.product__title Обычная
    p.product__name Г/Ц Блинчики с мясом вес, Россия
    .product__box-rating
        button.product__star.product__star_on(type='button')
        button.product__star.product__star_on(type='button')
        button.product__star.product__star_on(type='button')
        button.product__star.product__star_on(type='button')
        button.product__star(type='button')
    button.product__button-buy(type='button') В корзину