doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
        link(href="css/swiper.css" rel="stylesheet")
        link(rel="icon" href="images/header/logo-media.svg" type="image/svg+xml")
        title= "Интернет магазин продуктов питания"
    body
        include modules/header.pug
        include modules/slider.pug
        include modules/stock.pug
        include modules/new-items.pug
        include modules/earlier.pug
        include modules/special-offers.pug
        
        script(src="scripts/swiper.js")
        script(src="scripts/app.js")



        //pug -w pug/*.pug -o ./ -P
        //у хидера иконки 3 штуки слишком дальеко расположены