/*-----------акции------------------*/

.product-list {

    &__wrapper {
        height: 443px;
    }

    &__header {
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.5;

    }

    &__all {
        display: flex;
        align-items: center;
        width: 128px;
        height: 24px;
        position: relative;
        color: inherit;
        padding: 8px;

        &::after {
            content: '';
            background: url('../images/product/button-right.svg');
            width: 24px;
            height: 24px;
            position: absolute;
            right: 15px;
        }
    }
}

.product-list_stock {
    margin-top: 80px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 272px;
    height: 349px;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    overflow: hidden;
    background-color: #fff;

    &__box-images {
        position: relative;
    }

    &__images {

    }

    &__button-favorites {
        position: absolute;
        top: 12px;
        right: 12px;
        background: url('../images/product/favorites.svg');
        width: 32px;
        height: 32px;
        border-radius: 4px;

        &:hover {
            background-color: #eee;
        }
    }

    &__sales {
        position: absolute;
        background-color: #FF6633;
        font-size: 16px;
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
        left: 10px;
        bottom: 10px;

    }

    &__box-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 45px;
        width: 100%;
        padding: 8px;
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 8px;
    }

    &__price-cart {
        font-size: 18px;
        font-weight: 700;
    }

    &__title {
        color: #BFBFBF;
    }

    &__price-nocart {
        font-size: 16px;
    }

    &__name {
        font-size: 16px;
        padding: 8px;
    }

    &__box-rating {
        display: flex;
        align-self: start;
        gap: 4px;
        padding-left: 8px;
    }

    &__star {
        background: url('../images/product/star-off.svg');
        width: 16px;
        height: 16px;
        &:hover {
            background: url('../images/product/star-on.svg');
        }
    }

    &__star_on {
        background: url('../images/product/star-on.svg');
    }

    &__button-buy {
        width: 256px;
        height: 40px;
        font-size: 16px;
        color: #70C05B;
        border-radius: 4px;
        border: 1px solid #70C05B;
    }
}