section.articles
    .container
        .articles__wrapper
            .product-list__header
                h2.title-h2 Статьи
                a.product-list__all(href='#') Все статьи
            .articles__box-articles