section.product-list.product-list_stock
    .container
        .product-list__wrapper
            .product-list__header
                h2.title-h2 Покупали ранее
                a.product-list__all(href='#') Все покупки
            .product-list__box
                include components/product-earlier.pug
                include components/product-earlier.pug
                include components/product-earlier.pug
                include components/product-earlier.pug