footer.footer
    .container
        .footer__wrapper
            a.footer__link-img(href="index.html")
                .footer__img-logo
            nav.footer__menu
                ul.footer__list
                    li.footer__items
                        a.footer__link(href='#') О компании
                    li.footer__items
                        a.footer__link(href='#') Контакты
                    li.footer__items
                        a.footer__link(href='#') Вакансии
                    li.footer__items
                        a.footer__link(href='#') Статьи
            .footer__box-social
                a.footer__social.footer__social_insta(href="#")
                a.footer__social.footer__social_vk(href="#")
                a.footer__social.footer__social_face(href="#")
                a.footer__social.footer__social_ok(href="#")
            a.footer__telephone(href="tel:+88007773333") 8 800 777 33 33
