section.product-list.product-list_new-items
    .container
        .product-list__wrapper
            .product-list__header
                h2.product-list__title Новинки
                a.product-list__all(href='#') Все новинки
            .product-list__box
                include components/product-stock.pug
                include components/product-stock.pug
                include components/product-stock.pug
                include components/product-stock.pug




                