section.slider
    .container
        .swiper
            .swiper-wrapper
                .swiper-slide
                    img.slider__img(src='images/slider/slide-1.png')
                    h2.slider__title Доставка бесплатно от 1000 ₽
                .swiper-slide
                    img.slider__img(src='images/slider/slide-1.png')
                    h2.slider__title Скидка 5% на вторую доставку
                .swiper-slide
                    img.slider__img(src='images/slider/slide-1.png')
                    h2.slider__title Скидка 10% на третью и последующую доставку


