section.special-offers
    .container
        h2.special-offers__title Специальные предложения
        .special-offers__wrapper
            .special-offers__box.special-offers__box_card
                h3.special-offers__h3 Оформите карту «Северяночка»
                p.special-offers__text И получайте бонусы при покупке в магазинах и на сайте
            .special-offers__box.special-offers__box_basket
                h3.special-offers__h3 Покупайте акционные товары
                p.special-offers__text И получайте вдвое больше бонусов
