section.product-list.product-list_stock
    .container
        .product-list__wrapper
            .product-list__header
                h2.product-list__title Акции
                a.product-list__all(href='#') Все акции
            .product-list__box
                include components/product.pug
                include components/product.pug
                include components/product.pug
                include components/product.pug