.special-offers {
    margin-top: 80px;

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.5;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;

        @media (max-width: 760px) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__box {
        margin-top: 40px;
        height: 200px;
        width: 100%;
        border-radius: 4px;
        padding: 40px;

        @media (max-width: 760px) {
            flex-direction: column;
            margin-top: 0;
        }
    }

    &__box_card {
        background: url('../images/special-offers/card.png') no-repeat right 30px center;
        background-color: #FCD5BA;

        @media (max-width: 1150px) {
            background-size: auto 120px;
            background-position: auto center;
        }

        @media (max-width: 900px) {
            background-position: right -40px center;
        }

        @media (max-width: 760px) {
            background-position: right 10px center;
        }

        @media (max-width: 560px) {
            background-position: right -50px center;
        }
    }

    &__box_basket {
        background: url('../images/special-offers/basket.png') no-repeat center center;
        background-color: #E5FFDE;

        @media (max-width: 1150px) {
            background-size: auto 120px;
            background-position: right 0 center;
        }

        @media (max-width: 900px) {
            background-position: right -40px center;
        }

        @media (max-width: 760px) {
            background-position: right 10px center;
        }

        @media (max-width: 560px) {
            background-position: right -50px center;
        }
    }

    &__h3 {
        max-width: clamp(50%, 70%, 90%);
        font-size: 24px;
        font-weight: 700;

        @media (max-width: 1150px) {
            font-size: 20px;
        }
    }

    &__text {
        max-width: clamp(50%, 80%, 70%);
        font-size: 16px;
        font-weight: 400;
        padding-top: 8px;
    }
}