/*-----------акции, новинки, покупали раньше------------------*/
.product-list {
    &__wrapper {
        height: 443px;
    }

    &__header {
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.5;
    }

    &__all {
        display: flex;
        align-items: center;
        width: 128px;
        height: 24px;
        position: relative;
        color: inherit;
        padding: 8px;

        &::after {
            content: '';
            background: url('../images/product/button-right.svg');
            width: 24px;
            height: 24px;
            position: absolute;
            right: 15px;
        }
    }
    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
    }
}

/*--акции, новинки, покупали раньше*/
.product-list_stock {
    margin-top: 80px;
    margin-bottom: 80px;
}

@import 'components/product';